# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# ========================
# Virtual env
# ========================
venv/
.env/
.env.*

# ========================
# Jupyter Notebook
# ========================
.ipynb_checkpoints/

# ========================
# Databricks
# ========================
.databricks/
dbfs/
*.dbc

# ========================
# MLflow
# ========================
mlruns/
mlartifacts/

# ========================
# Data files (QUAN TRỌNG)
# ========================
*.csv
*.parquet
*.json

# ========================
# Logs
# ========================
*.log

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# IDE
# ========================
.vscode/
.idea/